:root {
    /* fonts */
    --text-text-m: Roboto;
    /* font sizes */
    --text-text-m-size: 14px;
    --font-size-xs: 12px;
    --font-size-lg: 18px;
    --font-size-smi: 13px;
    --font-size-base: 16px;
    --font-size-3xs: 10px;
    --font-size-2xs: 11px;
    --font-size-29xl: 48px;

    /* Colors */
    --bg-body: #f8f8f8;
    --color-whitesmoke-100: #f5f5f5;
    --greyscale-divider: #dedede;
    --element-bg-white: #fff;
    --main-primary: #016fd0;
    --color-gray-100: #909090;
    --color-gray-200: #808080;
    --color-gray-300: #777;
    --text-title-heading: #1e293b;
    --color-gray-400: #222;
    --color-gray-500: #1d1d1d;
    --slate-900: #0f172a;
    --color-gray-600: rgba(255, 255, 255, 0.7);
    --color-darkorange: #ff7800;
    --color-dimgray-100: #666;
    --color-dimgray-200: #555;
    --color-black: #000;
    --color-steelblue-100: #1d87c4;
    --color-steelblue-200: #0a73b7;
    --color-ghostwhite: #f8fbff;
    --color-lavender-100: #c9dbf3;
    --color-lavender-200: rgba(201, 219, 243, 0.5);
    --text-placeholder: #64748b;
    --color-slategray-100: #6b7280;
    --text-body: #475569;
    --greyscale-text-input: #495057;
    --color-darkslategray-100: #444;
    --color-darkslategray-200: #333;
    --color-darkgray: #9ca3af;
    --color-gainsboro: #e2e2e2;
    --slate-100: #f1f5f9;
    --brand-primary-100: #ecf5ff;
    --brand-primary-600: #00478E;
    --color-lightskyblue: #81cfff;
    --light-greyscale-stroke: #d7d7d7;
    --element-line-stroke-border: #d2d8dd;
    --color-lightgray-100: #ccc;
    --color-lightgray-200: #cbcbcb;
    --color-silver: #bdbdbd;
    --color-darkturquoise: #00bcd4;
    --slate-400: #94a3b8;
    --brand-secondary-500: #f37721;

    /* Gaps */
    --gap-xl: 20px;
    --gap-107xl: 126px;
    --gap-5xs: 8px;
    --gap-11xl: 30px;
    --gap-3xs: 10px;
    --gap-8xs: 5px;
    --gap-11xs: 2px;
    --gap-130xl: 149px;
    --gap-base: 16px;
    --gap-9xs: 4px;
    --gap-10xs: 3px;
    --gap-mini: 15px;
    --gap-6xs: 7px;
    --gap-8xl: 27px;
    --gap-xs: 12px;
    --gap-sm: 14px;

    /* Paddings */
    --padding-xl: 20px;
    --padding-3xs: 10px;
    --padding-8xs: 5px;
    --padding-11xs: 2px;
    --padding-2xl: 21px;
    --padding-11xl: 30px;
    --padding-6xl: 25px;
    --padding-mini: 15px;
    --padding-5xs: 8px;
    --padding-10xs-3: 2.3px;
    --padding-9xs: 4px;
    --padding-base: 16px;
    --padding-4xs: 9px;
    --padding-xs: 12px;

    /* Border radiuses */
    --br-5xs: 8px;
    --br-9xs: 4px;
    --br-9980xl: 9999px;
    --br-8xs: 5px;
    --br-7xs: 6px;
    --br-10xs-3: 2.3px;
    --br-lg: 18px;
    --br-xs: 12px;
    --br-lgi: 19px;
    --br-31xl: 50px;
    --br-10xs: 3px;

    /* Effects */
    --dark: 0px 0px 30px rgba(132, 132, 132, 0.25);
    --liener: 0px 0px 20px rgba(132, 132, 132, 0.2);
}

@font-face {
    font-family: 'nsicon';
    src: url('../fonts/nsicons.eot?2sz824');
    src: url('../fonts/nsicons.eot?2sz824#iefix') format('embedded-opentype'),
         url('../fonts/nsicons.ttf?2sz824') format('truetype'),
         url('../fonts/nsicons.woff?2sz824') format('woff'),
         url('../fonts/nsicons.svg?2sz824#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'nsicon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
    content: "\e900";
}
.icon-chevron-down:before {
    content: "\e901";
}
.icon-chevron-up:before {
    content: "\e902";
}
.icon-close:before {
    content: "\e903";
}
.icon-flight-landing:before {
    content: "\e904";
}
.icon-flight-takeoff:before {
    content: "\e905";
}
.icon-restaurant:before {
    content: "\e906";
}
.icon-suitcase:before {
    content: "\e90a";
}
.icon-suitcase-add:before {
    content: "\e90b";
}
.icon-suitcase-check:before {
    content: "\e907";
}
.icon-suitcase-error:before {
    content: "\e908";
}
.icon-suitcase-purchase:before {
    content: "\e909";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.text-right {
    text-align: right;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    height: 1em;
    width: 1em;
    overflow: hidden;
}

.hidden {
    display: none;
    visibility: hidden;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    appearance: button;
    border-style: solid;
    border-radius: 4px;
    font-family: inherit;
    font-size: 0.875rem;
    line-height: inherit;
    outline: 0;
    margin: 0;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.375rem 0.75rem;
}

button:disabled {
    background-color: #EFEFEF!important;
    color: #8A8A8A!important;
    pointer-events: none;
}

.btn-primary {
    background-color: var(--color-steelblue-200);
    border-color: var(--color-steelblue-200);
    color: #fff;
}

.outlined-button {
    background-color: #fff;
    border-color: var(--greyscale-divider);
    border-style: solid;
    transition: all 0.25s ease-in-out;
}

.outlined-button:hover {
    border-color: #a5a5a5;
}

.btn-close {
    --btn-close-color: #000;
    --btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    --btn-close-opacity: 0.5;
    --btn-close-hover-opacity: 0.75;
    --btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --btn-close-focus-opacity: 1;
    --btn-close-disabled-opacity: 0.25;
    --btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: var(--btn-close-color);
    background: transparent var(--btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: var(--btn-close-opacity);
}

.btn-close:hover {
    color: var(--btn-close-color);
    text-decoration: none;
    opacity: var(--btn-close-hover-opacity);
}

.btn-close:focus {
    outline: 0;
    opacity: var(--btn-close-focus-opacity);
}

.btn-close:disabled,
.btn-close.disabled {
    pointer-events: none;
    user-select: none;
    opacity: var(--btn-close-disabled-opacity);
}

.nav {
    --nav-link-padding-x: 1rem;
    --nav-link-padding-y: 0.5rem;
    --nav-link-color: var(--color-steelblue-100);
    --nav-link-hover-color: var(--color-steelblue-200);
    --nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-vertical {
    flex-direction: column;
}

.nav-link {
    display: block;
    padding: var(--nav-link-padding-y) var(--nav-link-padding-x);
    color: var(--nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: var(--color-steelblue-200);
    color: #fff;
}

.tab-content > .tab-pane:not(.active) {
    display: none;
}

.nested-input {
    height: 40px;
    position: relative;
}

.nested-input .form-control {
    height: 100%;
    width: 100%;
}

.nested-input .action {
    gap: 0.5rem;
    padding: 0.25rem;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
}

.nested-input .action > * {
    max-height: 100%;
}

.align-middle > * {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-body);
    background-color: var(--bg-body);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main {
    flex-grow: 1;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.app-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 82.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.align-items-center {
    align-items: center;
}

.card {
    border: 1px solid var(--color-lightgray-100);
    border-radius: 4px;
    font-size: 0.875rem;
    padding: 1rem;
}

.radio-card {
    background-color: var(--color-ghostwhite);
    border: 1px solid #B3CAE9;
    border-radius: 4px;
    font-size: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: border 200ms ease;
}

.radio-card .body {
    display: flex;
    flex-flow: row wrap;
    gap: 0.75rem;
    padding: 1rem;
}

.radio-card .form-check-input,
.radio-card input[type=radio] {
    font-size: 1.125em;
    margin-top: 0.375rem;
}

.radio-card .body .text-column {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.radio-card .body .title,
.radio-card .body .subtitle {
    font-weight: 500;
}

.radio-card .body .title {
    font-size: 1.25rem;
}

.radio-card .body .subtitle {
    font-size: 1.125rem;
}

.radio-card .footer {
    border-top: 1px solid var(--color-lightgray-100);
    padding: 0.75rem 1rem;
}

.radio-card:has(.form-check-input:checked) {
    border-color: var(--color-steelblue-200);
}

.radio-card:has(.form-check-input:checked) .title {
    color: var(--color-steelblue-200);
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.justify-end {
    justify-content: flex-end;
}

.form-group {
    display: flex;
    flex-flow: column wrap;
}

.form-label {
    display: inline-block;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bg-body);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid var(--color-lightgray-100);
    border-radius: 4px;
    color: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    outline: 0;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    position: relative;
}

.form-control {
    border: 1px solid var(--color-lightgray-100);
    border-radius: 4px;
    font-size: inherit;
    outline: 0;
    line-height: 1.5;
    max-width: 100%;
    padding: 0.375rem 0.75rem;
    width: 100%;
}

.form-control:focus,
.form-select:focus {
    border-color: #7a7a7a;
}

.form-control-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    padding: 0.375rem 0.25rem;
    gap: 0.75rem;
}

.form-check-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: var(--radio-bg-img);
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid var(--color-lightgray-100);
    border-radius: 3px;
    cursor: pointer;
    font-size: inherit;
    margin: 0;
    width: 1em;
    height: 1em;
    transition: background-color 0.25s linear;
    vertical-align: top;
}

.form-check-input[type=radio] {
    border-radius: 50%;
}

.form-check-input:checked {
    background-color: var(--color-steelblue-200);
    border-color: var(--color-steelblue-200)
}

.form-check-input:checked[type=checkbox] {
    --radio-bg-img: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"%3e%3cpath d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" fill="%23fff"/%3e%3c/svg%3e');
}

.form-check-input:checked[type=radio] {
    --radio-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.text-label {
    margin: 0px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.text-muted {
    color: #999;
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}

.collapsing.collapse-horizontal {
    width: 0;
    height: auto;
    transition: width .35s ease;
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: inherit;
    visibility: hidden;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    transition: transform 300ms ease-in-out;
}

.offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: 480px;
    border-left: 1px solid rgba(0, 0, 0, 0.175);
    transform: translateX(100%);
}

.offcanvas.hiding, .offcanvas.show, .offcanvas.showing {
    visibility: visible;
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: none;
}

.fade {
    transition: opacity .15s linear;
}

.fade:not(.show) {
    opacity: 0;
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.offcanvas-backdrop.fade {
    opacity: 0;
}

.offcanvas-backdrop.show {
    opacity: 0.5;
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.offcanvas-title {
    line-height: 1.5;
    margin-bottom: 0;
}

.offcanvas-body {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

.modal-backdrop {
    --backdrop-zindex: 1050;
    --backdrop-bg: #000;
    --backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--backdrop-bg);
}

.modal-backdrop.show {
    opacity: var(--backdrop-opacity);
}

.modal {
    --modal-zindex: 1055;
    --modal-width: 652px;
    --modal-padding: 1rem;
    --modal-margin: 1.75rem;
    --modal-bg: var(--body-bg);
    --modal-border-color: var(--border-color-translucent);
    --modal-border-width: var(--border-width);
    --modal-border-radius: var(--border-radius-lg);
    --modal-box-shadow: var(--box-shadow-sm);
    --modal-inner-border-radius: calc(var(--border-radius-lg) - (var(--border-width)));
    --modal-header-padding-x: 1rem;
    --modal-header-padding-y: 1rem;
    --modal-header-padding: 1rem 1rem;
    --modal-header-border-color: var(--border-color);
    --modal-header-border-width: var(--border-width);
    --modal-title-line-height: 1.5;
    --modal-footer-gap: 0.5rem;
    --modal-footer-bg: ;
    --modal-footer-border-color: var(--border-color);
    --modal-footer-border-width: var(--border-width);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: var(--modal-margin) auto;
    max-width: var(--modal-width);
    pointer-events: none;
}

.modal-lg {
    --modal-width: 800px;
}

.modal-dialog-scrollable {
    height: calc(100% - var(--modal-margin) * 2);
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--modal-margin) * 2);
}

.modal.fade .modal-dialog {
    transform: translate(0,-50px);
    transition: transform .3s ease-out;
}

.modal.show .modal-dialog {
    transform: none;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    color: inherit;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.5rem;
    outline: 0;
    overflow: hidden;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--color-lightgray-100);
}

.modal-title {
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--modal-padding);
    overflow-y: auto;
}

.modal-footer {
    border-top: 1px solid var(--color-lightgray-100);
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--modal-padding) - var(--modal-footer-gap) * .5);
}

.vertical-divider {
    flex: 1;
    border-left: 1px solid var(--color-darkgray);
    width: 1px;
}

.vertical-divider.softer {
    opacity: 0.35;
}

/* ==================================== */
/*             FLIGHT DETAIL            */
/* ==================================== */
.flight-summary {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.flight-summary .airline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    width: 20%;
}

.flight-summary .timeline {
    color: var(--color-gray-200);
    font-size: var(--font-size-base);
    gap: var(--gap-3xs);
    padding: 1rem;
    width: 55%;
}

.timeline .col {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.timeline .time {
    color: #222;
    letter-spacing: 0.48px;
    line-height: 19.2px;
    text-transform: capitalize;
    margin-bottom: 3px;
    position: relative;
}

.time .alert {
    color: var(--color-darkorange);
    position: absolute;
    right: -1.5em;
    top: 0.5em;
}

.timeline .airport {
    font-size: 13px;
    letter-spacing: 0.36px;
    line-height: 14.4px;
    display: inline-block;
}

.timeline .stop-duration {
    color: #666;
    font-size: 0.75rem;
    letter-spacing: 0.6px;
    line-height: 18px;
}

.timeline .line-container {
    flex-grow: 1;
    justify-content: flex-end;
    gap: 0.5rem;
}

.timeline .line {
    border-top: 1px solid var(--color-gray-100);
    height: 1px;
}

.icon-row {
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.icon-row [class^="icon-"] {
    color: #7C7B7B;
    font-size: 1.125rem;
}

.card-button .right-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-5xs);
    text-align: right;
    padding: 0 0.5rem;
}

.price-text {
    color: var(--color-darkorange);
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
}

.price-helper {
    font-size: 0.75rem;
    letter-spacing: 0.06em;
    line-height: 17.1px;
    color: #808080;
}

.select-button {
    background-color: var(--color-steelblue-200);
    border: none;
    color: #fff;
    padding: 2px var(--padding-2xl);
}

.flight-segment {
    display: flex;
    gap: 2rem;
}

.route {
    gap: 1rem;
    margin-right: 1.5rem;
}

.icon-connector {
    display: flex;
    flex-direction: column;
    padding: 0 0 var(--padding-xl);
    align-items: center;
    gap: var(--gap-9xs);
}

.circle {
    border-radius: 50%;
    border: 1px solid var(--color-darkgray);
    color: var(--color-slategray-100);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.route-detail {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.route-detail-text {
    display: flex;
    flex-direction: column;
}

.airport-name {
    margin: 0 0 3px;
}

.flight-description {
    display: flex;
    flex-direction: column;
    gap: var(--gap-5xs);
}

.date-time,
.duration,
.carrier {
    color: var(--color-slategray-100);
    margin: 0;
}

.transit {
    border-color: var(--color-lavender-100);
    border-style: solid;
    border-width: 1px 0;
    padding: 0.375rem 0.625rem;
    width: 100%;
}

.transit-text {
    margin: 0;
}